body {
 
   display: flex;
    flex-direction: column;
 background-color: khaki;
}

header,
 
footer {
 
  height: 20vh;
 background-color: yellow;
}
main{
    flex:1;
    display:flex;
    background-color: bisque;
}
nav,
 
aside {
 
  width: 20vw;
 background-color: lightskyblue;
}
article {
 
   flex: 1;
 
}
nav {
 
  order: -1;
 
}




